MONGO_VERSION=8.0
MONGO_ROOT_USER=root
MONGO_CONTROLLER_USER=platform_controller
MONGO_REPLICA_SET=rs0
MONGO_PUBLIC_HOST=mongo.openmusk.store
MONGO_PUBLIC_PORT=27017
MONGO_BIND_IP=0.0.0.0
HAPROXY_VERSION=3.2-alpine
TZ=Asia/Dhaka
